<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    
    <h1>{{.Name}}</h1>
    <h2>{{.Age}}</h2>
    <h3>{{.SomeProcessing}}</h3>
    <h4>{{.AgeDbl}}</h4>
    <h5>{{.AgeDivide}}</h5>
    <h6>{{.AgeDbl | .TakesArg}}</h6>

</body>
</html>