<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testing</title>
</head>
<body>
    
    <form action="/bar" method="POST">
        <input type="text" name="fname" title="fname">
        <input type="submit">
    </form>

     

</body>
</html>